---
const { src , alt, nameUser, nameGroup, time } = Astro.props;
---

<section class="w-[21.4375rem] h-[4.4375rem] flex flex-col items-start justify-start gap-[0.625rem] rounded-lg p-4">
    <article class="w-[18.5rem] h-[2.4375rem] flex items-center justify-start gap-[0.8125rem]">

        <picture class="w-[2.4375rem] h-[2.4375rem] flex justify-start items-center gap-[0.625rem]">
            <img src={src} alt={alt} class="w-full h-full">
        </picture>
    
        <div class="w-[15.25rem] h-[2.4375rem] flex flex-col justify-start items-start gap-[0.1875rem]">
            <div class="w-[15.25rem] h-[1.125rem] flex justify-start items-center">
                <h2 class="w-16 h-[1.125rem] text-[0.875rem] text-VeryDarkGreyBlue font-PlusJakartaSansExtraBold text-left duration-700 cursor-pointer hover:text-Blue">{nameUser}</h2>
                <p class="w-[5.75rem] h-[1.125rem] text-[0.875rem] text-DarkGreyBlue font-PlusJakartaSansMedium text-left ml-[6px]">left the group</p>
                <p class="w-[4.8125rem] h-[1.125rem] text-[0.875rem] text-Blue font-PlusJakartaSansVariableWght font-bold text-left ml-[5px]">{nameGroup}</p>
            </div>

            <p class="w-[5.25rem] h-[1.125rem] text-left text-[0.875rem] text-GreyBlue font-PlusJakartaSansMedium">{time}</p>
        </div>
    
    </article>
</section>